In [1]:
a=100

In [2]:
## Declaring and assigning variables
age=20
height=5.2
name="shifa"
is_student=True

## Printing the variables

print("Age :",age)
print("Height:",height)
print("Name :",name)

Age : 20
Height: 5.2
Name : shifa

In [4]:
# Naming Convention
# Variable name shoulde be descriptive
# They must start with letter or an underscore and contains letters,numbers and '_'

# Valid variable names

first_name="Shifa"
last_name="KB"

In [5]:
# Invalid variable names
#2age=30
#first-name="shifa"
##@name="shifa"

In [6]:
## Case sensitivity
name='shifa'
Name='khallu'
name==Name

False

In [1]:
## Understanding Variable types
## Python is dynamically typed, type of a variable is determined at runtime
age = 25#int
height =6.# float
name="shifa"#str
is_student=True#bool

print(type(name))

<class 'str'>

In [2]:
## Type checking and conversion
type(height)

float

In [4]:
age=25
print(type(age))

#Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [6]:
age='25'
print(type(int(age)))

<class 'int'>

In [8]:
name="shifa"
int(name)

ValueError: invalid literal for int() with base 10: 'shifa'

In [9]:
height =5.11
type(height)

float

In [11]:
float(int(height))

5.0

In [12]:
## Dynamic Typing

var=10#int
print(var,type(var))

var="Hello"#str
print(var,type(var))

var=3.14#float
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [14]:
# Input
age=int(input("What is the age"))
print(age,type(age))

23 <class 'int'>

In [16]:
## Simple Calculator
num1=float(input("Enter the first number"))
num2=float(input("Enter the first number"))

sum=num1+num2
difference=num1-num2
multiplication=num1*num2
division=num1/num2

print("Sum is :",sum)
print("Difference is :",difference)
print("Multiplication is :",multiplication)
print("Division is :",division)

Sum is : 8.0
Difference is : 2.0
Multiplication is : 15.0
Division is : 1.6666666666666667