In [1]:
## Integer Example
age=35
type(age)

int

In [2]:
## Floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## String datatype example
name="shifa"
print(name)
print(type(name))

shifa
<class 'str'>

In [4]:
## boolean datatype
is_true=True
type(is_true)

bool

In [6]:
a=10
b=10

type(a==b)

bool

In [8]:
# common errors
result="Hello"+5

TypeError: can only concatenate str (not "int") to str

In [9]:

result="Hello"+str(5)
print(result)

Hello5