### SQL AND SQLITE

SQL(Structured Query Language ) is a standard language for managing and manipulating relational databases.SQLite is a self-contained,serverless and Zero-configuration database engine that is widely used for embedded database systems.

In [7]:
import sqlite3

In [8]:
## Connect to an SQLite database
connection=sqlite3.connect('examples.db')
connection

In [9]:
cursor=connection.cursor() # to make sure it will iterate through all the tables

In [10]:
# Create a table
cursor.execute('''
Create Table If Not Exists employees(
      Id integer primary key autoincrement,        
      Name text not null,
      age int,
      department txt    
              )
''')
# Commit the changes
connection.commit()

In [11]:
# Create a table
cursor.execute('''
Select * from employees  
              
''')

In [12]:
# Insert the data in sqlite database
cursor.execute('''
   Insert Into employees(name,age,department)
               values('Shifa',25,'Data Scientist')
''')

cursor.execute('''
   Insert Into employees(name,age,department)
               values('Bob',28,'Engineering')
''')

cursor.execute('''
   Insert Into employees(name,age,department)
               values('Charlie',35,'Finance')
''')

##commit the changes
connection.commit()

In [14]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()


# Print the queried data

for row in rows:
    print(row)

(1, 'Shifa', 25, 'Data Scientist')
(2, 'Bob', 28, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [16]:
# Update the data in the table
cursor.execute('''
update employees
set age=34
where name="Bob"
''')

connection.commit()

In [18]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()


# Print the queried data

for row in rows:
    print(row)

(1, 'Shifa', 25, 'Data Scientist')
(2, 'Bob', 34, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [20]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name="Charlie"

''')

In [21]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()


# Print the queried data

for row in rows:
    print(row)

(1, 'Shifa', 25, 'Data Scientist')
(2, 'Bob', 34, 'Engineering')

In [22]:
import sqlite3

## Connect to an sqlite database
connection = sqlite3.connect('sales_datas.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date TEXT NOT NULL,         
    product TEXT NOT NULL,
    sales_amount INTEGER,
    region TEXT
)
''')

# Insert data into sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North'),
]

cursor.executemany('''
INSERT INTO sales(date, product, sales_amount, region)
VALUES (?, ?, ?, ?)
''', sales_data)

connection.commit()

In [23]:
## Query the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()


# Print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [24]:
connection.close()