### TUPLES

Tuples are ordered collections of items that are immutable.They are similar to lists,but their immutability makes them different

In [1]:
## Creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers=tuple([1,2,3,4,5,6])#List converted to tuple
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
list((1,2,3,4,5,6))# Tuple converted to list

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple=(1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [12]:
numbers

(1, 2, 3, 4, 5, 6)

In [10]:
## Accessing tuples
print(numbers[0])
print(numbers[2])

1
3

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [14]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [17]:
## Tuples operations

concatenation_tuple=numbers+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [18]:
mixed_tuple*3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [19]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [21]:
## Immutable nature of tuples
# Tuples are immutable,meaning their elements cannot be changed once assigned

lst=[1,2,3,4,5]
print(lst)
lst[1]="shifa"
print(lst)

[1, 2, 3, 4, 5]
[1, 'shifa', 3, 4, 5]

In [22]:
numbers[1]="shifa"

TypeError: 'tuple' object does not support item assignment

In [24]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Tuple methods
print(numbers.count(1))
print(numbers.index(3))# index of element 3

1
2

In [ ]:
## Packing and unpacking tuple
# Packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [27]:
# Unpacking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [28]:
# Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [32]:
## Nested tuple
## Nested list
lst=[[1,2,3,4],[56,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [33]:
lst=[[1,2,3,4],[56,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [35]:
nested_tuple =((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [37]:
## Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False