### The map() function in python

The map function applies a given function to all items in a input list(or any other iterable) and returns a map object(an iterator).this is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x**2

square(10)

100

In [2]:
# map syntax=func,iterables

numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [3]:
## Lambda function with map
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
## Map multiple iterables

number1=[1,2,3]
number2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,number1,number2))
print(added_numbers)

[5, 7, 9]

In [6]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [7]:
words=['apple','banana','cherry']
upper_word=(list(map(str.upper,words)))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
    return person['name']

people=[
{'name':"shifa",'age':20},
{'name':"amulya","age":19}
]
list(map(get_name,people))

['shifa', 'amulya']